name: odoo-addon
on: [push, pull_request, workflow_dispatch]
jobs:
  validate:
    name: "Lint ${{ matrix.module }}"
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        module: &odoo_addons
          - ipai_concur_bridge
          - ipai_ariba_cxml
          - ipai_salesforce_sync
          - ipai_clarity_ppm_sync
          - ipai_statement_engine
          - ipai_consent_manager
          - ipai_doc_ai
          - ipai_visual_gate
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.11"
      - name: Install linting dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install pylint-odoo flake8-odoo
      - name: Run pylint-odoo
        run: |
          python -m pylint \
            --load-plugins=pylint_odoo \
            --rcfile=.pylintrc-mandatory \
            "odoo_addons/${{ matrix.module }}"
      - name: Run flake8-odoo
        run: |
          python -m flake8 \
            "odoo_addons/${{ matrix.module }}" \
            --config=.flake8
  package:
    needs: validate
    runs-on: ubuntu-latest
    strategy:
      matrix:
        module: *odoo_addons
    steps:
      - uses: actions/checkout@v4
      - run: bash scripts/odoo/package_addon.sh ${{ matrix.module }} dist
      - uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.module }}
          path: dist/**
